/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
}

.markdown-preview.markdown-preview h1:not(:first-of-type) {
  page-break-before: always;
}

@media print {
  @page {
    margin: 20mm;
  }
}

.errorCode {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}